<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title>Erreur Lien</title>
</head>
<body>
  <div layout:fragment="body">
    <div id="_title_div">
      <h3>Lien d'activation non reconnu.</h3>
      <span>Merci de retenter l'opération en vous assurant de saisir un lien d'activation valide.</span>
    </div>
  </div>
</body>
</html>
