<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title>Erreur Activation</title>
</head>
<body>
  <div layout:fragment="body">
    <div id="_title_div">
      <h3>L'activation du compte a échoué.</h3>
      <span>Merci de retenter l'opération en vous assurant de bien saisir un même password (non vide) dans les 2 champs prévus à cet effet.</span>
    </div>
  </div>
</body>
</html>
