<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title>Initialiser Password</title>
</head>
<body>
  <div layout:fragment="body">
    <h4>Merci d'initialiser votre password</h4>
  <div class="password-container">
    <form method="POST" th:action="@{/signup/initpassword}" th:object="${User}">
      <div>
        <label for="_password_id">Password</label>
        <div>
          <input id="_password_id" type="password" th:field="*{password}" required="required" class="strong-password" />
        </div>
      </div>

      <div>
        <label for="_repeatPassword_id">Confirmer Password</label>
        <div>
          <input id="_repeatPassword_id" type="password" th:field="*{repeatPassword}" required="required" />
        </div>
      </div>

      <input name="emailAddress" type="hidden" th:value="*{emailAddress}" />
      <input name="activationKey" type="hidden" th:value="*{activationKey}" />

      <div class="strength-indicator">
        <span id="password-robust">Robustesse du password</span>
        <div class="meter"><!--  --></div>
        Un password robuste doit contenir entre 8 et 16 caractères et proposer des majuscules, minuscules, chiffres et caractères spéciaux.
      </div>

      <div>
        <div>
          <button type="submit" class="btn btn-primary">Confirmer</button>
          <button type="reset" class="btn">Annuler</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</body>
</html>
