<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title>Merci</title>
</head>
<body>
  <div layout:fragment="body">
    <div class="row-fluid">
      <div class="span3"><!--  --></div>
      <div class="span6 well">
        <h3>Création de compte réussi.</h3>
        <p>Nous avons bien enregistré votre nouveau compte. Vous devriez recevoir très prochainement un email d'activation vous permettant d'activer effectivement ce compte. Si vous ne le voyez pas, merci de vérifier qu'il n'a pas été noté comme indésirable.</p>
        <hr/>
        <a href="/" class="btn btn-info">Retour</a>
      </div>
      <div class="span3"><!--  --></div>
    </div>
  </div>
</body>
</html>
