<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title th:text="#{security_login_title}">Login</title>
</head>
<body>
  <div layout:fragment="body" class="container-fluid">
    <div class="row-fluid">
      <div class="span6 well" th:utext="${textePremierePageAnonyme}"></div>
      <div class="span6 well">
        <div th:if="${error != null}">
          <div class="alert alert-danger">
            <h4 class="form-signin-heading" th:text="${errorMessage != null} ? ${errorMessage} : 'Échec de l\'authentification'"></h4>
          </div>
        </div>
        <div th:if="${error == null}">
          <h4 class="form-signin-heading" th:text="#{security_login_message}"></h4>
        </div>

        <form th:action="@{/login}" method="POST" name="f">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div>
            <input id="j_username" name="username" type="text" class="input-block-level" th:placeholder="#{security_login_form_name}" />
          </div>
          <br />
          <div>
            <input id="j_password" name="password" type="password" class="input-block-level" th:placeholder="#{security_login_form_password}" />
          </div>
          <br />
          <div>
            <input id="proceed" type="submit" value="Valider" class="btn btn-large btn-success" />
            <input id="reset" type="reset" th:value="#{button_reset}" class="btn btn-info" />
            <a th:href="@{/forgotpassword/index}" class="btn btn-warning">Mot de passe oublié</a>
            <a th:if="${candidatCanSignup}" th:href="@{/signup}" class="btn">Créer un compte</a>
          </div>
          <div></div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>

