<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title>Exception</title>
</head>
<body>
<div layout:fragment="body" class="container-fluid">
  <div>
    <div class="row-fluid">
      <h2 th:text="#{error_uncaughtexception_title}">Erreur inattendue</h2>
      <p th:text="#{error_uncaughtexception_problemdescription}">L'application a rencontré une erreur interne.</p>
      <div th:if="${exception != null}">
        <h4 th:text="#{exception_details}">Détails de l'exception</h4>
        <div class="panel panel-warning">
          <div class="panel-heading" th:text="#{exception_message}">Message</div>
          <div class="panel-body">
            <span th:text="${exception_message}"></span>
            <br/>
            (<i th:text="${exception.class.name}"></i>)
            <br/>
            <span th:text="${statusCode}"/> - <span th:text="${requestUri}"/>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Stacktrace</div>
          <div class="panel-body">
                        <pre th:utext="${exception_stacktrace}">
                        </pre>
          </div>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>
</div>
</body>
</html>

