<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATTERN" value="[%-5level] %date{dd/MM/yyyy HH:mm:ss} [%thread] %logger{36} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<property name="LOG_FILE" value="${LOG_FILE:-${sys:java.io.tmpdir}/esup-dematec.log}" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILE}</file>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- Appender mail optionnel : renseignez vos paramètres SMTP puis ajoutez
	     la référence `MAIL_ERRORS` dans le root logger ou dans un logger ciblé. -->
	<appender name="MAIL_ERRORS" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>${LOG_EMAIL_SMTP_HOST:-localhost}</smtpHost>
		<smtpPort>${LOG_EMAIL_SMTP_PORT:-25}</smtpPort>
		<to>${LOG_EMAIL_TO:-errors@localhost}</to>
		<from>${LOG_EMAIL_FROM:-noreply@localhost}</from>
		<subject>[${LOG_EMAIL_SUBJECT_PREFIX:-Application}] %level - %date{dd/MM/yyyy HH:mm:ss}</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${LOG_PATTERN}</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
		<!-- <appender-ref ref="MAIL_ERRORS" /> -->
	</root>

	<logger name="fr.univrouen" level="INFO" />

</configuration>
