<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
  <title>Imports Excel Galaxie - Liste</title>
</head>
<body>
  <div layout:fragment="body">
    <div th:replace="~{fragments/help :: accordion(content=~{::.help-content})}">
      <div class="help-content">
<p>Afin de pouvoir alimenter l'application de nouvelles candidatures et entités associées, vous devez ajouter ici de nouveaux fichiers Excel issus de Galaxie (exemple <a th:href="@{/resources/doc/EXTETBF.xls}">ici</a>).</p>
      <p>Une fois un nouveau fichier galaxie ajouté, vous pourrez effectivement importer et générer les différents éléments depuis le menu <a th:href="@{/admin/galaxieentrys}">Importation Galaxie</a>.</p>
      </div>
    </div>
    
    <a th:href="@{/admin/galaxieexcels(form)}" class="btn btn-success" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPER_MANAGER')">Créer</a>
    <br/><br/>
    
    <div th:if="${galaxieexcels == null or #lists.isEmpty(galaxieexcels)}">
      <p>Aucun élément trouvé.</p>
    </div>
    
    <table th:if="${galaxieexcels != null and !#lists.isEmpty(galaxieexcels)}" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Fichier</th>
          <th>
              <a sd:pagination-sort="creation">
                Céation
              </a>
          </th>
            <th>
                <a sd:pagination-sort="fileSize">
                    Taille
                </a>
            </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="excel : ${galaxieexcels}">
          <td th:text="${excel.filename}"></td>
          <td th:text="${excel.creation}"></td>
          <td th:text="${excel.fileSizeFormatted}"></td>
          <td class="btn-group">
             <a th:href="@{/admin/galaxieexcels/{id}(id=${excel.id})}" class="btn btn-sm btn-info">Voir</a>
          </td>
        </tr>
      </tbody>
    </table>
        <div class="pagination-container">
            <div  class="pagination-selector btn-group" sd:page-size-selector="dropdown"></div>
            <div class="pagination pagination-centered" sd:pagination="full"></div>
        </div>

  </div>
</body>
</html>
