<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layouts/default}">
<head>
  <title>Entrées commission - Liste</title>
</head>
<body>
  <div layout:fragment="body">
    <div th:replace="~{fragments/help :: accordion(content=~{::.help-content})}">
      <div class="help-content">
<p>L'ensemble des données importées depuis l'ensemble des fichiers commission déposés dans l'application est listé ici.</p>
      <p>Si de nouvelles données issues des fichiers Excel Commission sont présentes, l'application vous propose alors de générer différents éléments liés à cette application.</p>
      <p>Ces éléments sont :
      <ul>
        <li>Des comptes utilisateurs permettant aux membres de s'authentifier dans l'application. Dans le même temps que la création du compte, un email est également envoyé au membre afin de lui présenter ses paramètres de connexion.</li>
        <li>Des références aux postes encore non connus de l'application.</li>
        <li>Et enfin l'affectation des membres aux postes (commission).</li>
      </ul>
      </p>
      </div>
    </div>

      <div class="well" th:unless="${#lists.isEmpty(unknowMembres) and  #lists.isEmpty(unknowPostes) and  #lists.isEmpty(unknowCommission)}">
          <div th:unless="${#lists.isEmpty(unknowCommission)}">
              <strong>Les éléments correspondants à ces affectations de membres (commission) sont manquants : </strong>
              <span th:each="commission : ${unknowCommission}">
                  <a th:href="@{/admin/commissionentrys/{id}(id=${commission[2]})}" th:text="${'[' + commission[0] + ', ' + commission[1] + ']'}"></a><span th:unless="${commissionStat.last}">, </span>
              </span>
          </div>
           <div>
               <a th:href="@{/admin/commissionentrys/generatecommissions}" class="btn btn-large btn-danger">
                   <i class="icon-play-circle"></i>Générer
               </a>
           </div>
      </div>
    
    <a th:href="@{/admin/commissionentrys(form)}" class="btn btn-success" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPER_MANAGER')">Créer</a>
    <br/><br/>
    
    <div th:if="${commissionentrys == null or #lists.isEmpty(commissionentrys)}">
      <p>Aucun élément trouvé.</p>
    </div>
    
    <table th:if="${commissionentrys != null and !#lists.isEmpty(commissionentrys)}" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
              <a sd:pagination-sort="numPoste">Num poste</a>
          </th>
          <th>
              <a sd:pagination-sort="email">Email</a>
          </th>
          <th>
              <a sd:pagination-sort="nom">Nom</a>
          </th>
          <th>Prénom</th>
          <th>Président</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="entry : ${commissionentrys}">
          <td th:text="${entry.numPoste}"></td>
          <td th:text="${entry.email}"></td>
          <td th:text="${entry.nom}"></td>
          <td th:text="${entry.prenom}"></td>
          <td th:text="${entry.president}"></td>
            <td class="btn-group">
                <a th:href="@{/admin/commissionentrys/{id}(id=${entry.id})}" class="btn btn-sm btn-info">Voir</a>
            </td>
        </tr>
      </tbody>
    </table>
        <div class="pagination-container">
            <div  class="pagination-selector btn-group" sd:page-size-selector="dropdown"></div>
            <div class="pagination pagination-centered" sd:pagination="full"></div>
        </div>
  </div>
</body>
</html>
