<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Logs fichiers postes - Détails</title>
</head>
<body>
  <div layout:fragment="body">
    <h2>Détails Logs fichiers postes</h2>
    
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd th:text="${log.actionDate}"></dd>
      <dt>Action</dt>
      <dd th:text="${log.action}"></dd>
      <dt>Fichier</dt>
      <dd th:text="${log.filename}"></dd>
    </dl>
    
    <hr/>
    <div>
      <a th:href="@{/admin/logpostefiles}" class="btn btn-default">Retour à la liste</a>
    </div>
  </div>
</body>
</html>
