<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layouts/default}">
<head>
  <title>Logs authentification - Liste</title>
</head>
<body>
  <div layout:fragment="body">
    <h2>Logs authentification</h2>
    
    <div th:if="${logauths == null or #lists.isEmpty(logauths)}">
      <p>Aucun élément trouvé.</p>
    </div>
    
    <table th:if="${logauths != null and !#lists.isEmpty(logauths)}" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><a sd:pagination-sort="actionDate">Date</a></th>
          <th><a sd:pagination-sort="action">Action</a></th>
          <th><a sd:pagination-sort="userId">Utilisateur</a></th>
          <th><a sd:pagination-sort="ip">IP</a></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="log : ${logauths}">
          <td th:text="${#temporals.format(log.actionDate, 'dd/MM/yyyy HH:mm')}"></td>
          <td th:text="${log.action}"></td>
          <td th:text="${log.userId}"></td>
          <td th:text="${log.ip}"></td>
        </tr>
      </tbody>
    </table>

        <div class="pagination-container">
            <div  class="pagination-selector btn-group" sd:page-size-selector="dropdown"></div>
            <div class="pagination pagination-centered" sd:pagination="full"></div>
        </div>
  </div>
</body>
</html>
