<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public}">
<head>
  <meta charset="UTF-8" />
  <title>Merci</title>
</head>
<body>
  <div layout:fragment="body">
    <div id="_title_div">
      <h4>Si votre adresse est bien correcte et connue de l'application, un lien vous permettant de saisir un nouveau password vous a été envoyé par mail.</h4>
    </div>
  </div>
</body>
</html>
