/**
 * Licensed to ESUP-Portail under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.
 *
 * ESUP-Portail licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
table {
font-size: 14px;
empty-cells: show;
}

label {
font-weight: bold;
}

fieldset {
padding: 15px;
border: 2px groove threedface;
}

.btn {
min-width: 16px;
}

.row-fluid, .row-fluid:before, .row-fluid:after {
display: initial;
}

.form-inline {
display: inline;	
}

#main .row-fluid .span-demat-left {
width: auto;
}

#main .row-fluid #demat-right {
margin-left: 240px;
width: auto;
float: none;
}

#main .row-fluid .span12#demat-right {
margin-left: 0px;
}

.demat6 {
float: left;
width: 48%;
margin-right: 1%;
}

.demat-fluid {
clear: right;
}

hr {
width: 100%
}

input.reset {
margin-left:5px;
}

#toggleSidebar {
left: 10px;
margin-top: -20px;
position: absolute;
color:#779DD7;
padding:2px 4px;
}

small#mention-legale {
display: block;
padding-top: 5px;
border-top: 1px solid #eee;
text-align: center;
line-height: 15px;
font-size: 80%;
}

small#mention-legale p {
margin-bottom: 0px;
}

.container-fluid {
padding-left: 10px;
padding-right: 10px;   
}

dd {
margin-bottom: 10px;
}

select[multiple] {
width: 300px;
}

.help .accordion-group {
border-color: #aaa;
}

.help .accordion-heading {
background-color: #eee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.help .accordion-body {
background-color: #fafafa;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

textarea[cols] {
width: auto;
}

.sorting {
padding-right: 20px;
background: url("images/sort_both.png") no-repeat center right;
}

.sorting_asc {
padding-right: 20px;
background: url("images/sort_asc.png") no-repeat center right;
}

.sorting_desc {
padding-right: 20px;
background: url("images/sort_desc.png") no-repeat center right;
}

.multipass-supervisor-nav {
position:relative;
float:right;
right:10px;
width:100%;
}
.multipass-supervisor-nav li a.btn-warning {
color: black;
font-weight: bold;
position:absolute;
right:0;
background-color: #F89406 !important;
}

#_navbar li#su a {
font-weight: bold;
text-decoration: underline;
} 

/* Dialog */
.modal {
width: 1000px;
left: 30%;
}

.modal-body {
max-height: 600px;
}


.demat-pc-manage {
border: 1px solid #800;
border-radius: 10px;
padding: 1%;
width: 45%;
}

/* Password */

.password-container .errors {
color: red;
font-weight: bold;	
}

.password-container #password-robust {
font-weight: bold;
color: #800;
text-decoration: underline;
}

.password-container .meter {
margin: 5px;
}

.password-container .strength-indicator {
width: 300px;
}

.demat-finder-candidatures {
width: 100%;	
}

.demat-finder-candidatures .demat-filter {
border: 1px solid #ccc;
padding: 10px;
margin: 5px;
}

#demat-legende {
float: left;
width: 100%;
}

.demat-popover {
background-image: url("images/dialog-information.png");
background-repeat: no-repeat;
background-position: center;
font-size: 0;
width: auto;
}
.demat-popover:hover {
display: block;
font-size: 100%;
background: #fefefe !important;
position: absolute; 
right: 30px;
}
.demat-star {
background-image: url("images/star.png");
}

.navbar-inverse form {
margin: 0;
}
.navbar-inverse .btn-link {
border:none;
outline:none;
background:none;
cursor:pointer;
color: #999;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
padding: 10px 15px 10px;
float : none;
font-family:inherit;
font-size:inherit;
}
.navbar-inverse .btn-link:hover {
color: #fff;
text-decoration:none;
}

.managerComment4Members, .allPosteCandidatureTag,
.managerComment4Members legend, .allPosteCandidatureTag legend,
.allPosteCandidatureTag dl {
margin : 0px;
}

@media (min-width: 1200px) {
	
#main .bs-docs-sidenav {
width: 228px;
}

#main .row-fluid .span-demat-left {
width: 228px;
}

}


/* Responsive Tables - mobile */

#_title_pl_fr_univrouen_poste_domain_PosteAPourvoir_id table td:nth-child(4) {
	word-wrap: break-word;
	max-width: 450px;
}


@media (max-width: 767px) {
#main .row-fluid #demat-right {
margin-left: 0px;
}
}
@media (max-width: 979px) and (min-width: 768px){
#main .row-fluid #demat-right {
margin-left: 170px;
}
}

@media (max-width: 480px) {
	#_title_pl_fr_univrouen_poste_domain_User_id table th:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_User_id table th:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_User_id table th:nth-child(5),
	#_title_pl_fr_univrouen_poste_domain_User_id table th:nth-child(6),
	#_title_pl_fr_univrouen_poste_domain_User_id table td:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_User_id table td:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_User_id table td:nth-child(5),
	#_title_pl_fr_univrouen_poste_domain_User_id table td:nth-child(6) {
		display: none;
	}
	
	#_title_pl_fr_univrouen_poste_domain_PosteAPourvoir_id table th:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_PosteAPourvoir_id table td:nth-child(4) {
		display: none;
	}


	#_title_pl_fr_univrouen_poste_domain_GalaxieEntry_id table th:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_GalaxieEntry_id table th:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_GalaxieEntry_id table th:nth-child(5),
	#_title_pl_fr_univrouen_poste_domain_GalaxieEntry_id table td:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_GalaxieEntry_id table td:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_GalaxieEntry_id table td:nth-child(5) {
		display: none;
	}

	#_title_pl_fr_univrouen_poste_domain_CommissionEntry_id table th:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_CommissionEntry_id table th:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_CommissionEntry_id table td:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_CommissionEntry_id table td:nth-child(4){
		display: none;
	}
	
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table th:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table th:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table th:nth-child(5),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table th:nth-child(7),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table th:nth-child(8),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table th:nth-child(9),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table td:nth-child(3),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table td:nth-child(4),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table td:nth-child(5),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table td:nth-child(7),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table td:nth-child(8),
	#_title_pl_fr_univrouen_poste_domain_LogFile_id table td:nth-child(9){
		display: none;
	}
}

