<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- scripts et css répliquant /WEB-INF/tags/util/load-scripts.tagx -->
  <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/resources/css/bootstrap-responsive.min.css}" />
  <link rel="stylesheet" th:href="@{/resources/css/docs.css}" />
  <link rel="stylesheet" th:href="@{/resources/js/pschecker/style/style.css}" />
  <link rel="stylesheet" th:href="@{/resources/css/demat.css}" />
  <link rel="stylesheet" th:href="@{/resources/css/demat-print.css}" media="print"/>
  <link rel="SHORTCUT ICON" th:href="@{/resources/images/favicon.ico}" />

  <script th:src="@{/resources/js/jquery-1.9.0.min.js}"></script>
  <script th:src="@{/resources/js/bootstrap.min.js}"></script>
  <script th:src="@{/resources/js/pschecker/js/pschecker.js}"></script>
  <script th:src="@{/resources/js/demat.js}"></script>
</head>
</html>

