<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Switch User (SU)</title>
</head>
<body>
  <div layout:fragment="body">
    
    <div th:replace="~{fragments/help :: accordion(content=~{::.help-content})}">
      <div class="help-content">
<p>Cette page vous permet de vous connecter au nom d'un autre utilisateur.</p>
      <p>Pour cela rentrez son nom d'utilisateur (email) dans le formulaire et cliquez sur SU ("Switch User").</p>
      <p>Cette fonctionnalité n'est disponible que pour les admins et super-managers, elle permet de "voir" précisément l'interface de l'uttilisateur, "ce que voit" l'utilisateur.</p>
      <p>Les actions effectuées sur les fichiers seront journalisées dans la base en votre nom (avec le nom de l'utilisateur cible mentionné également)</p>
      </div>
    </div>
    
    <form th:action="@{/login/impersonate}" method="POST">

      <fieldset>
        <label for="j_username">Entrez l'email de l'utilisateur cible : </label>
        <input type="text" placeholder="nom@univ.fr" id="j_username" name="username" maxlength="100"/>
        <button type="submit" class="btn btn-success">SU</button>
      </fieldset>
    </form>
    
  </div>
</body>
</html>
